<a href="https://colab.research.google.com/github/collanealmazan/CPEN-21A-ECE-2-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Intro to Python Programming

#Intro to Python Programming

In [1]:
#Python Indention
if 5>2:
  print("Five is greater than two")

Five is greater than two

#Python Variable

In [14]:
x = 1
a, b = 0, 1
a,b,c= "zero","one","two"
print(x)
print(a) 
print(b) 
print(c)

1
zero
one
two

In [13]:
d = "Sally" #This is a string 
D = 'Ana'
print(d) 
e = 'John'
print(e) 
print(D)

Sally
John
Ana

In [12]:
print(type(d)) #This is a Type function
print(type(x))

<class 'str'>
<class 'int'>

#Casting

In [10]:
f = float(4) 
print(f) 
g = int(5) 
print(g)

4.0
5

##Multiple Variables with One Value

In [15]:
x = y = z = "four" 
print(x) 
print(y) 
print(z)

four
four
four

In [18]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

#operations in Python

In [30]:
x = 5
y = 7
x += y #This is the same as x = x + y
print(x)

12

In [36]:
x = 5
y = 7
not(x>y or y==x)

True

In [37]:
x is y

False

In [38]:
x is not y

True